# Functions

## Types
1. Parameterless
2. Parameterized
3. Without `return`
4. With `return`

1. Positional Arguments

In [1]:
def add(first_num:int, second_num:int) -> int:
    return first_num + second_num


result: int = add(5, 8)  # Arguments
print(result)

13

In [3]:
def greet (first_name, last_name):
    print(f'Hello {first_name} {last_name}')

first='John'
last='Doe'

greet(first, last)

greet(last, first)

Hello John Doe
Hello Doe John

In [4]:
# Intentional Error
def greet (first_name, last_name):
    print(f'Hello {first_name} {last_name}')

first='John'
last='Doe'

greet(first)

TypeError: greet() missing 1 required positional argument: 'last_name'

In [7]:
def add (*args):
    print("All Args", args)
    print(type(args))
    total = 0
    for num in args:
        total += num
    return total


print(add(1,2,4,5,6))

All Args (1, 2, 4, 5, 6)
<class 'tuple'>
18

In [8]:
print(add(1,5,6))

All Args (1, 5, 6)
<class 'tuple'>
12

In [13]:
num_list = [1,2,3,4,5]

result = add(*num_list) # list unpacking
# result = add(1,2,3,4,5)
print(result)

In [15]:
print(num_list)
print(*num_list)

[1, 2, 3, 4, 5]
1 2 3 4 5

## Keyword Argument

In [16]:
def greet (name, age):
    print(f"The name is {name} and the age is {age}")

greet('John', 25)

The name is John and the age is 25

In [17]:
def greet (name, age):
    print(f"The name is {name} and the age is {age}")

greet(age=25, name='John')

The name is John and the age is 25

In [18]:
def greet (name, age):
    print(f"The name is {name} and the age is {age}")

greet(25, 'John')

The name is 25 and the age is John

In [20]:
def greet (first_name="Muhammad", last_name):
    print(f'Hello {first_name} {last_name}')



greet("Rehan")

SyntaxError: non-default argument follows default argument (<ipython-input-20-ccf5e52d3fcd>, line 1)

In [21]:
def greet (last_name, first_name="Muhammad"):
    print(f'Hello {first_name} {last_name}')



greet("Rehan")

Hello Muhammad Rehan

"Muhammad Rehan"
Rehan

In [26]:
def greet (last_name, first_name="Muhammad"):
    print(f'Hello {first_name} {last_name}')



greet("Rehan", first_name="ABC")

Hello ABC Rehan

In [30]:
def greet(**kwargs):
    print(kwargs)
    print(type(kwargs))

greet(first_name="Muhammad", last_name="Rehan", age=343)

{'first_name': 'Muhammad', 'last_name': 'Rehan', 'age': 343}
<class 'dict'>

In [29]:
def greet(**kwargs):
    if 'name' in kwargs:
        print(f"Hello {kwargs['name']}!")
    else:
        print("Hello Guest!")

greet(name="Bob")  # Output: Hello Bob!
greet()  # Output: Hello Guest!

Hello Bob!
Hello Guest!

In [29]:
def display_info(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

display_info(1, 2, 3, name="Ali", age=25)
# Output:
# Positional arguments: (1, 2, 3)
# Keyword arguments: {'name': 'Ali', 'age': 25}

In [35]:
data = {"first_name":"Muhammad", "last_name":"Rehan", "age":343}

greet(**data)

{'first_name': 'Muhammad', 'last_name': 'Rehan', 'age': 343}
<class 'dict'>

## Scopes in Python

In [37]:
def learn_scope(a,b):
    print("a: ", a)
    print("b: ", b)

a = 6
b = 8

learn_scope(12, 20)
print("last output", "a: ",a, "b: ", b)

a:  12
b:  20
last output a:  6 b:  8

In [38]:
first_name = "Muhammad"

def greet(last_name):
    print(f"Hello {first_name} {last_name}")


greet("Rehan")

Hello Muhammad Rehan

In [42]:
def greet():
    my_name="Muhammad"
    print(my_name)


greet()

print(my_name)

Muhammad
Ammar

`global` keyword

In [47]:
def learn_scope(a,b):
    print(f"value of a before reassigning {a}")
    a = 200
    print(f"value of a after reassigning {a}")
    print("a: ", a)
    print("b: ", b)

a = 6
b = 8

learn_scope(12, 20)
print("last output", "a: ",a, "b: ", b)

value of a before reassigning 12
value of a after reassigning 200
a:  200
b:  20
last output a:  6 b:  8
value of a before reassigning 12
value of a after reassigning 200
a:  200
b:  20

In [48]:
def learn_scope(c,d):
    print(f"value of a before reassigning {a}")
    # a = 200
    print(f"value of a after reassigning {a}")
    print("a: ", a)
    print("b: ", b)

a = 6
b = 8

learn_scope(12, 20)
print("last output", "a: ",a, "b: ", b)

value of a before reassigning 6
value of a after reassigning 6
a:  6
b:  8
last output a:  6 b:  8

In [50]:
def func_2 ():
    name = "Musa"
    print("name: ", name)

name = "Rehan"
func_2()
print(name)

name:  Musa
Rehan

In [56]:
name = "Rehan"


def func_2 ():
    global name
    name = "Musa"
    print("name: ", name)


func_2()
print(name)

name:  Musa
Musa

In [58]:
# name = "Rehan"


def func_2 ():
    global name2
    name2 = "Musa"
    print("name: ", name2)


func_2()
print(name2)

name:  Musa
Musa

## Recursive Functions

7! = 1x2x3x4x5x6x7

In [63]:
def factorial(n): # 5
    if n < 0:
        return None

    if n < 2:
        return 1
    else:
        result = 1
        for i in range(2,n+1): # [2, 3, 4, 5]
            result = result * i
            # result *= i
        return result
print(factorial(5)) # Output: 120

120

In [64]:
print(list(range(2,6)))

[2, 3, 4, 5]

In [ ]:
# With Recursion

def factorial(n): # 5
    # Base case
    if n < 0:
        return None
    if n < 2:
        return 1
    # Recursive case
    return n * factorial(n - 1)  # 5 * 4 * 3 * 2 * 1

print(factorial(5))

## Lambda function
`lambda` arguments: expression

In [65]:
square = lambda x: x**2

25

In [ ]:
# prompt: write a simple example of lambda function in real scenario

# Example 1: Using lambda with map() to square a list of numbers
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]


# Example 2: Using lambda with filter() to get even numbers
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6]


# Example 3:  Creating a short, anonymous function for sorting
points = [(1, 2), (4, 1), (9, 10), (13, -3)]
points.sort(key=lambda point: point[1])  # Sort by the second element of the tuple.
print(points)  # Output: [(13, -3), (4, 1), (1, 2), (9, 10)]